.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.mat-card {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}

.mat-mdc-card {
  background-color: rgb(255, 255, 255) !important;
  color: black;
  margin-right: 10px;
}

.button {
  margin-right: 5px;
}

.image {
  max-width: 300px;
}
