<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Year</mat-label>
    <input matInput formControlName="year">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Chip</mat-label>
    <input matInput formControlName="chip">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>SSD</mat-label>
    <input matInput formControlName="ssd">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Memory</mat-label>
    <input matInput formControlName="memory">

  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Display</mat-label>
    <input matInput formControlName="display">
  </mat-form-field>


  <button class="button" mat-flat-button style="margin-right: 2px" color="primary" type="submit">Добавить Товар</button>
  <button class="button" mat-flat-button color="primary" (click)="onNoClick()">Отмена</button>


</form>
