<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button routerLink="">Главная</button>
      <button class="toolbar button" mat-flat-button routerLink="products">Товары</button>
      <button class="toolbar button" mat-flat-button routerLink="basket">Корзина</button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
